<template name="Dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-title">
                {{#if isInRole 'admin'}}
                    <div class="panel-heading">
                        <h2><i class="fa fa-building"></i><span
                                class="break">Configuration</span></h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="Enter information about your organization here">
                                {{#if $not configExists}}
                                    <span style="" class="badge alert-badge backgroundColor indianred">Start Here!</span>
                                {{/if}}
                                <a id="org-info" class="quick-button backgroundColor primary"
                                   href="/dashboard/orginfo">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-rocket"></i>
                                    </span>
                                    <h5>Organization Info.</h5>
                                </a>
                            </div>
                            {{#if configExists}}
                                <div class="col-sm-2"
                                     data-toggle="tooltip"
                                     title="ACH method, DonorTools settings,
                                     Public access setting and more">
                                    {{#if $not completedDonorTools}}
                                        <span style="" class="badge alert-badge backgroundColor indianred">Needs a Donor Tools URL!</span>
                                    {{/if}}
                                    <a id="settings-dashboard-button" class="quick-button backgroundColor primary"
                                       href="/dashboard/settings">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-cogs"></i>
                                    </span>
                                        <h5>Settings</h5>
                                    </a>
                                </div>
                                <div class="col-sm-2"
                                     data-toggle="tooltip"
                                     title="Configure your giving options menus.
                                     Two sets of menus exist, one on the
                                     donation form and the other is on the
                                     /landing page. Both of them are configured
                                     here.">
                                    {{#if $not givingOptions}}
                                        <span style="" class="badge alert-badge backgroundColor indianred">Setup After Donor Tools URL</span>
                                    {{/if}}
                                    <a id="giving-options" class="quick-button backgroundColor primary"
                                       href="/dashboard/giving_options">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-repeat"></i>
                                    </span>
                                        <h5>Giving Options</h5>
                                    </a>
                                </div>
                                <div class="col-sm-2"
                                     data-toggle="tooltip"
                                     title="The Giving Guide appears on the /landing page
                                     and is intended to assist the donor while they
                                     choose what they would like to support.">
                                    {{#if $not givingOptions}}
                                        <span style="" class="badge alert-badge backgroundColor indianred">Setup After Giving Options</span>
                                    {{/if}}
                                    <a id="giving-guide" class="quick-button backgroundColor primary"
                                       href="/dashboard/giving_guide">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-compass"></i>
                                    </span>
                                        <h5>Giving Guide</h5>
                                    </a>
                                </div>
                                <div class="col-sm-2"
                                     data-toggle="tooltip"
                                     title="Email service (for receipting and
                                     new user notices), Analytics, Error
                                     tracking and logging">
                                    <a id="services-dashboard-button" class="quick-button backgroundColor primary"
                                       href="/dashboard/services">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-server"></i>
                                    </span>
                                        <h5>Services</h5>
                                    </a>
                                </div>
                                <div class="col-sm-2"
                                     data-toggle="tooltip"
                                     title="Upload your logos here.">
                                    <a id="services-dashboard-button" class="quick-button backgroundColor primary"
                                       href="/dashboard/logos">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-space-shuttle"></i>
                                    </span>
                                        <h5>Logos</h5>
                                    </a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
                {{#if showOtherThanConfig}}
                    <div class="panel-heading">
                        <h2><i class="fa fa-table"></i><span class="break">Reports</span></h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="Stripe transfer reports formated with
                                 Donor Tools information. This section is intended to assist an
                                 accountant in reconciling gifts between Stripe and DonorTools.">
                                <a id="transfers" class="quick-button backgroundColor primary" href="/transfers">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-exchange"></i>
                                    </span>
                                    <h5>Stripe Transfers</h5>
                                </a>
                            </div>
                            {{#if isInRole 'super-admin'}}
                                <div class="col-sm-2"
                                     data-toggle="tooltip"
                                     title="This section shows expired or soon
                                     to be expired Credit Cards">
                                    <span style="" class="badge alert-badge backgroundColor indianred">BETA</span>
                                    <a class="quick-button backgroundColor primary" href="expiring">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-credit-card"></i>
                                            </span>
                                            <h5>Expiring Cards</h5>
                                        </a>
                                    </div>
                            {{/if}}
                        </div>
                    </div>
                <div class="panel-heading">
                    <h2><i class="fa fa-wrench"></i>
                        <span class="break">
                            Tools
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    {{#if isInRole 'admin'}}
                        <div class="row">
                            {{#if $eq stripe_ach_verification_type 'manual'}}
                                <div class="col-sm-2"
                                     data-toggle="tooltip"
                                     title="Manual ACH transactions listing">
                                    <a id="manual-ach" class="quick-button backgroundColor primary" href="/dashboard/ach">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-bank"></i>
                                </span>
                                        <h5>ACH</h5>
                                    </a>
                                </div>
                            {{/if}}
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="Add new users; change roles,
                                 send password reset email or disable access">
                                <a id="users-and-roles" class="quick-button backgroundColor primary" href="/dashboard/users">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-user"></i>
                                </span>
                                    <h5>Users</h5>
                                </a>
                            </div>
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="Manager recurring gifts. Includes; view details, change
                             payment (method, recurring date, designation),
                             add/remove note and stop recurring gift">
                                <a id="get-dt-split" class="quick-button backgroundColor primary"
                                   href="{{pathFor 'AdminSubscriptions'}}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-columns"></i>
                                </span>
                                    <h5>Recurring Gifts</h5>
                                </a>
                            </div>
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="List all gifts, see more detail or refund a gift.">
                                <a id="get-dt-split" class="quick-button backgroundColor primary"
                                   href="{{pathFor 'Gifts'}}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-gift"></i>
                                </span>
                                    <h5>All Gifts</h5>
                                </a>
                            </div>
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="Click to retrieve and store a list of
                                 DonorTools Funds">
                                <a id="get-dt-funds"
                                   class="quick-button backgroundColor primary"
                                   href=""
                                   data-loading-text="
                                   <span class='fa-stack fa-lg'>
                                     <i class='fa fa-spinner fa-spin'></i>
                                   </span>
                                    <h5>
                                        Retrieving from Donor Tools...
                                    </h5>">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-money"></i>
                                    </span>
                                    <h5>
                                        Get DonorTools Funds
                                    </h5>
                                </a>
                            </div>
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="Click to retrieve and store a list of
                                 DonorTools Sources">
                                <a id="get-dt-sources"
                                   class="quick-button backgroundColor primary"
                                   href=""
                                   data-loading-text="
                                   <span class='fa-stack fa-lg'>
                                     <i class='fa fa-spinner fa-spin'></i>
                                   </span>
                                    <h5>
                                        Retrieving from Donor Tools...
                                    </h5>">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-code"></i>
                                    </span>
                                    <h5>Get DonorTools Sources</h5>
                                </a>
                            </div>
                        </div>
                    {{/if}}
                    <br>
                    <div class="row">
                        {{#if isInRole 'admin'}}
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="If you find that Give created a duplicate
                             account in DonorTools, use this tool to merge the
                             accounts. You will also need to merge the accounts
                             in DonorTools after doing so here.">
                                <a id="merge-dt-persona" class="quick-button backgroundColor primary" href="">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-compress"></i>
                            </span>
                                    <h5>Merge DT accounts</h5>
                                </a>
                            </div>
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="If you find that Give created a gift under the
                             wrong DonorTools account you can use this tool to
                             move that gift to the right donor. (don't move the
                             gift in DonorTools, this tool takes care of it)">
                                <a id="move-gift" class="quick-button backgroundColor primary" href="">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-arrows"></i>
                                </span>
                                    <h5>Move Gift</h5>
                                </a>
                            </div>
                        {{/if}}
                        {{#if isInRole 'super-admin'}}
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="Sometimes a Stripe event doesn't
                                 process correctly in Give. Use this tool to try
                                 it again.">
                                <a id="show-get-stripe-event" class="quick-button backgroundColor primary" href="">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <h5>Get Stripe Event</h5>
                                </a>
                            </div>
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="If no local user was created, but you see
                                 that the user's gift processed in Stripe use this
                                  tool to fix the problem.">
                                <a id="show-fix-no-user" class="quick-button backgroundColor primary" href="">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-wrench"></i>
                                    </span>
                                    <h5>Fix No Local User</h5>
                                </a>
                            </div>
                        {{/if}}
                        {{#if isInRole 'admin, trips-manager'}}
                            <div class="col-sm-2"
                                 data-toggle="tooltip"
                                 title="View & manage trips, trip members and deadlines">
                                <span style="" class="badge alert-badge backgroundColor indianred">BETA</span>
                                <a class="quick-button backgroundColor primary" href="{{pathFor 'Trips'}}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-plane"></i>
                                    </span>
                                    <h5>Trips</h5>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div><!--/col-lg-12-->
	</div><!--/row-->
    {{#if showFixNoUser}}
        <div class="row">
            <div class="jumbotron">
                {{> CreateUserIfStripeButNotLocalExists}}
                <br>
            </div>
        </div>
    {{/if}}

    {{#if showGetStripeEvent}}
        <div class="row">
            <div class="jumbotron">
                {{> GetStripeEvent}}
            </div>
        </div>
    {{/if}}
    {{#if isInRole 'admin, super-admin, manager'}}
        {{> AdminMoveGift}}
        {{> AdminMergePersona}}
        {{> Timeline}}
    {{/if}}
</template>