<template name="DonationForm">
    {{#if showGiftTotal}}
        <div class="amount-dialog text-center">Total Gift Amount: ${{giftTotal}}</div>
    {{/if}}
    <div class="container form-container">
        <form class="form-horizontal donation-form" role="form" id="donation_form" name="donation_form" data-parsley-focus="first"
            data-parsley-excluded="input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
            style="background-color: white;">
            <div class="col-lg-8 col-md-8 col-md-offset-2">
                <fieldset>
                    {{#unless campaign}}
                        <h2 class="text-center">THANK YOU</h2>
                    {{else}}
                        {{> Progress}}
                    {{/unless}}
                    <div class="row">
                        {{> Amount}}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label for="donateWith">Method of Payment</label>
                                <select name="donateWith"
                                        id="donateWith"
                                        class="form-control select select-primary slim-borders"
                                        required>
                                    <option value="Card">Card</option>
                                    <option value="Check">Check</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {{> DonationFrequency}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{> DonationDate}}
                    </div>
                    <!--call the address portion of the form -->
                    {{> RequestAddress}}
                    <h5 class="text-center">PAYMENT DETAILS
                        <span style="font-size: .6em;">{{{paymentQuestionIcon}}}</span>
                    </h5>

                    {{#if paymentWithCard}}
                        {{> cardPaymentInformation}}
                    {{else}}
                        {{> checkPaymentInformation}}
                    {{/if}}
                    <br>
                    <br>
                    <div class="form-group padBottom">
                        <div class="col-sm-offset-2 col-sm-8">
                          <button name="submitThisForm"
                                  type="submit"
                                  class="btn btn-block btn-hg btn-primary submit-button"
                                  data-toggle="modal"
                                  data-target=".bs-example-modal-lg"
                                  data-loading-text="Processing... <i class='fa fa-spinner fa-spin'></i>">
                              <span class="fa fa-paper-plane-o"></span> Send Donation</button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <input type="hidden" id="dt_source" value="{{dt_source}}" />
        </form>
    </div>
    {{#if loading}}
        <div id="spinDiv" class="fadeMe">
        </div>
        {{> spinner}}
    {{/if}}
    {{> Modals}}
</template>
