<template name="DonationToItems">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {{> DonationTo}}
    </div>
    <div class="top-right-corner">
        <button id="cloneButton"
                type="button"
                href=""
                data-toggle="popover"
                data-placement="bottom"
                data-trigger="hover focus"
                data-container="body"
                data-content="Add another gift designation"
                class="btn btn-primary"><i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="clonedInputCopies">
        {{#each DonationFormItems}}
            <hr class="hr-in-well" />
            <div class="row">
                <div class="clonedInput">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <label class="control-label" for="amount">Donation Amount</label>
                        <div class="input-group">
                            <!--[if lt IE 9]>
                            <label>Amount</label>
                            <![endif]-->
                            <span class="input-group-addon">$</span>
                            <input name="splitAmount"
                                   value="{{centsToDollars this.amount}}"
                                   min="1"
                                   step="0.01"
                                   required="true"
                                   type="number"
                                   class="form-control slim-borders"
                                   data-parsley-error-message="Please only use numbers over 1 in this amount (no commas)"
                                   data-parsley-errors-container="#amount-{{this.item}}"/>
                            <div id="amount-{{this.item}}"></div>
                        </div>

                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        {{> DonationToDuplicates}}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <button name="remove-button"
                                type="button"
                                href=""
                                data-toggle="popover"
                                data-placement="bottom"
                                data-trigger="hover focus"
                                data-container="body"
                                data-content="Remove this designation from the list"
                                class="btn btn-danger top-margin btn-for-mobile"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>