<template name="DonationDate">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1" style="display: none;"
         id="calendarSection">
        <div class="form-group">
            <label>{{#if forceACHDay}}{{else}}Choose {{/if}}Your Donation Start Date {{#if forceACHDay}}<span style="font-size: .8em;">{{{onlyOnSpecificDay}}}</span> {{/if}}</label>
            <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn" type="button" id="start_date_button"><span class="fui-calendar"></span></button>
                                    </span>
                <input type="text"  class="form-control" {{forceACHDay}} value="{{today}}" id="start_date" />
            </div>
        </div>
    </div>
</template>