<template name="SetupNotComplete">
    <div class="row text-center">
        <div class="col col-lg-12 not-found">
            <p>
                <i class="fa fa-car fa-3x" aria-hidden="true"></i>
                <i class="fa fa-caret-left fa-3x" aria-hidden="true"></i>
                <i class="fa fa-wrench fa-3x" aria-hidden="true"></i>
            </p>

            <h3>We are fixing things up a bit, we'll be back soon.</h3>

            <p>
                 Come back soon.
            </p>
            <p>
                <a href="/dashboard">Admin Dashboard</a>
            </p>
        </div>
    </div>
</template>
