<template name="YourGivingGuide">
    <div class="col col-lg-offset-1 col-lg-6 col-md-7 col-sm-offset-1 col-sm-10 col-xs-12">
        <h1 class="uppercase-this">Your giving guide</h1>
        {{#each givingGuide}}
            {{#if show}}
                <div class="row">
                    <div class="guide-item reduced-left-padding col col-lg-12 sol-md-12 col-sm-12 col-xs-12 giving-detail-area" id="{{groupId}}">
                        <div class="reduced-left-padding col col-lg-2 col-md-2 col-sm-2 col-xs-3">
                            {{#if icon}}
                                <span class="fa-stack fa-2x">
                                              <i class="fa fa-stack-2x fa-circle"></i>
                                              <i class="fa fa-stack-1x {{icon}} fa-inverse"></i>
                                            </span>
                            {{/if}}
                        </div>

                        <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <p class="small-bottom v-top uppercase-this"><strong>{{title}}</strong></p>

                            <p><em>{{description}}</em></p>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</template>