<template name="TripsDashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-title">
                <div class="panel-heading">
                    <h2><i class="fa fa-globe"></i><span
                            class="break">Trips</span></h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {{#if isInRole 'admin, trips-manager'}}
                            <div class="col-sm-2">
                                <a id="org-info" class="quick-button backgroundColor primary"
                                   href="{{pathFor 'TripsAdmin'}}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-bullhorn"></i>
                                    </span>
                                    <h5>Trips Admin</h5>
                                </a>
                            </div>
                        {{/if}}
                        <div class="col-sm-2">
                            <a id="settings-dashboard-button" class="quick-button backgroundColor primary"
                               href="{{pathFor 'TripsMember'}}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-plane"></i>
                                </span>
                                <h5>Trips Member</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
