<template name="NewCardForm" >
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Payment Details
                        </h3>
                        <div class="checkbox pull-right">
                            <label>
                                <input type="checkbox" />
                                Remember
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cc-num">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   name="cc-num"
                                   autocomplete="cc-number"
                                   x-autocompletetype="cc-number"
                                   placeholder="Card Number"
                                   required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="cardExpirationMonth">
                                    EXPIRY DATE</label>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control"
                                           name="cardExpirationMonth"
                                           autocomplete="cc-exp-month"
                                           x-autocompletetype="cc-exp-month"
                                           placeholder="MM" required />
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control"
                                           name="cardExpirationYear"
                                           autocomplete="cc-exp-year"
                                           x-autocompletetype="cc-exp-year"
                                           placeholder="YY" required /></div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvc2">
                                    CV CODE</label>
                                <input type="password" class="form-control" name="cvc2" placeholder="CVC" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>