.trialing-subscription {
    color: #F57F17;
}

.bottom-padding {
    padding-bottom: 25px;
}

.bottom-left-corner {
    position: absolute;
    bottom: -15px;
    left: -15px;
}

.bottom-right-corner {
    position: absolute;
    bottom: -15px;
    right: -15px;
}

.top-right-corner {
    position: absolute;
    top: -15px;
    right: -15px;
}

.bottom-center {
    position: relative;
    bottom: 40px;
    left: 36%;
}

.hr-in-well {
    display: inline-block;
    width: 98%;
    color: #1abc9c;
    height: 1px;
    background-color: #1abc9c;
    margin-top: 30px;
    margin-bottom: 20px;
}

.top-margin {
    margin-top: 38px;
}

@media print {
    a[href]:after {
        content: none !important;
    }

    @page {
        size: portrait;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.evenHeight {
    height: 290px;
}
.recap {
    margin-bottom: 10px;
}

.invoice-frequency {
    text-transform: capitalize;
}

.one-time {
    color: #F57F17;
}

.align-upload {
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.loader {
    display: none;
}

.loading-wrapper {
    display: none;
}


select {
    background: transparent;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 34px;
    border: 1px solid #bdc3c7;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}



@media screen and (max-width: 767px) {
    .button-text {
        display: none;
    }
    .top-margin {
        margin-top: 10px;
    }
    .btn-for-mobile{
         position: absolute;
         top: -186px;
         right: 20px;
     }
    .bottom-center {
        right: auto;
        left: 5%;
    }
}
